node_modules
**/node_modules
.git
.gitignore
.vscode
npm-debug.log
.env
dist
build
frontend/dist
frontend/.vite
frontend/.cache
backend/node_modules
frontend/node_modules
Dockerfile.old
DockerFile.old
.DS_Store
Thumbs.db