services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  app:
    build: .
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      - redis


volumes:
  redis-data:
